Source: librandomx
Section: utils
Priority: optional
Maintainer: Yuri Albuquerque <yurialbuquerque@brickabode.com>
Build-Depends: cmake
Standards-Version: 4.0.0
Homepage: http://brickabode.com/

Package: librandomx
Architecture: amd64
Depends: build-essential, ${misc:Depends}
Description: Epic server
